<ion-content>
  <ion-slides pages="true" class="athena-slides">
    <ion-slide>
      <div class="athena-container">
        <img id="logo-dark" src="assets/images/logo_dark.png" width="200" height="70">
        <p class="athena-font-27">Body Measures</p>
        <p class="athena-font-22">Getting your information</p>
        <div class="athena-input-view">
          <p>Birth Date</p>
          <ion-icon src="assets/icons/calender.svg" width="25" height="24"></ion-icon>
        </div>
        <div class="athena-sex-view">
          <p class="athena-font-bold">I Identify my Sex as..</p>
          <div class="athena-sex-button">
            <ion-button class="athena-male-button" color="dark" shape="round">
              <p class="athena-font-17" style="text-transform:none!important;">Male</p>
            </ion-button>
            <ion-button class="athena-female-button" shape="round">
              <p class="athena-font-17 athena-font-black"  style="text-transform:none!important;">Female</p>
            </ion-button>
          </div>
        </div>

      </div>
    </ion-slide>
    <ion-slide>
      <h1>welcome</h1>
    </ion-slide>
    <ion-slide>
      <h1>welcome</h1>
    </ion-slide>
  </ion-slides>
</ion-content>