<ion-content>
  <div class="athena-container">
    <img id="logo-dark" src="assets/images/logo_dark.png" width="200" height="70">
    <p class="athena-text-welcome">Welcome Back!</p>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/username.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Username or Email" class="athena-ion-input" type="text"></ion-input>
    </div>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/password.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Password" class="athena-ion-input" type="password"></ion-input>
    </div>
    <div class="athena-link-password">
      <ion-button class="athena-link-button" fill="clear">
        <p class="athena-font-17" style="text-transform:none!important; color: black; font-weight: 400;">Forgot Password
          ?</p>
      </ion-button>
    </div>
    <ion-button class="athena-button-view" color="dark" shape="round">
      <p class="athena-font-17">Login</p>
    </ion-button>
    <div class="athena-text-continue">
      <p class="athena-font-17">Continue With</p>
    </div>
    <div class="athena-social-view">
      <ion-button class="athena-facebook-button" shape="round">
        <ion-icon src="assets/icons/facebook.svg" size="small"></ion-icon>
        <p class="athena-font-13 athena-margin-left-5" style="text-transform:none!important;">Facebook</p>
      </ion-button>
      <ion-button class="athena-google-button" shape="round">
        <ion-icon src="assets/icons/google-plus.svg" size="small"></ion-icon>
        <p class="athena-font-13 athena-margin-left-10" style="text-transform:none!important;">Google</p>
      </ion-button>
    </div>
    <div class="athena-text-signup">
      <p class="athena-font-17">Don't have an account? </p>
      <ion-button class="athena-link-button" fill="clear">
        <p class="athena-font-17" style="text-transform:none!important; color: black; font-weight: 400;">SIGN UP</p>
      </ion-button>
    </div>
  </div>
</ion-content>