<ion-content>
  <div class="athena-container">
    <img id="logo-dark" src="assets/images/logo_dark.png" width="200" height="70">
    <p class="athena-text-welcome">Lets Get Started!</p>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/username.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Username" class="athena-ion-input" type="text"></ion-input>
    </div>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/email.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Email" class="athena-ion-input" type="email"></ion-input>
    </div>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/phone.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Phone Number" class="athena-ion-input" type="tel"></ion-input>
    </div>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/password.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Password" class="athena-ion-input" type="password"></ion-input>
    </div>
    <div class="athena-input-view">
      <ion-icon src="assets/icons/password.svg" width="32" height="30"></ion-icon>
      <ion-input type="text" value="" placeholder="Confirm Password" class="athena-ion-input" type="password"></ion-input>
    </div>
    <ion-button class="athena-button-view" color="dark" shape="round">
      <p class="athena-font-17">Sign Up</p>
    </ion-button>
    <div class="athena-text-signup">
      <p class="athena-font-17">Already have an account? </p>
      <ion-button class="athena-link-button" fill="clear">
        <p class="athena-font-17" style="text-transform:none!important; color: black; font-weight: 400;">LOGIN</p>
      </ion-button>
    </div>
  </div>
</ion-content>